body {	
	margin:0;
	background-color: #ffffff;
	background-image: url("../images/background.png");
	width:100%;
	font-family: "arial", "Helvetica Neue", "Helvetica", "Sans-serif";
}

h3 {
	border-bottom: 3px solid #ccc;
	color: #4aaaa5;
	font-size: 30px;
}
h5 {
	margin:0;
	padding: 0px 0px 0px 0px;
	border:none;
	font-weight: normal;
	line-height: 0px;
}

p, form{
	color:#777777;
}

/*Input fields start*/
input, textarea {
	width: 608px;
	padding: 5px 0px 5px 5px;
}

input::placeholder {
	color:#cccccc;
}
input[text] {
	padding: 10px;
}
#connectMessage {
	height:100px;
	margin: 0px 0px 10px 0px;
	word-wrap: break-word;
	word-break: keep-all;
}
#connectButton {
	background-color: #4aaaa5;
	color: #f5f4f0;
	border:none;
	height:30px;
	width:100px;
}
#connectButton:active {
	background-color: #f5f4f0;
	color: #4aaaa5;

}
#connectButton:hover {
	background-color: #3b8682;	
}
/*Input fields end*/

/*Header start*/
header {
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
	text-align: center;
	font-family: "Georgia", "Times", "Times New Roman", "serif";
	height: 60px;
	margin: 0px 0px 10px 0px;
}

header h1{
	background-color: #4aaaa5;
	color: #f5f4f0;
	box-sizing: border-box;
	margin: 0px 180px 0px 40px;
	padding: 10px 0px 0px 0px;
	width: 250px;
	height: 60px;
	float:left;
}

header h2{
	color:grey;
	font-size: 80%;
	padding: 5px 20px 0px 10px;
	display:inline-block;
}
/*Header end*/

/*Connect with me section start*/
.connect {
	background-color: #fff;
	border: 1px solid #dddddd;
	height: 160px;
	width: 270px;
	margin-left: 40px;
	padding: 0px 15px 0px 15px;
	box-sizing: border-box;
	display: inline-block;
	text-align: center;
	color: #4aaaa5;
}
.connect h3{
	border-bottom: 2px solid #ccc;
	padding: 0 0 10px 0;
	font-size: 15px;
}
.connect img{
	height: 50px;
	width: 50px;
	margin: 5px 5px 0px 5px;
}
/*Connect with me section end*/

/*Footer start*/
footer{
	position: fixed;
	bottom: 0;
	width:100%;
	height:10%;
	clear:both;
	background-color: #666666;
	color:#ccc;
	font-size: 70%;
	text-align:center;
	vertical-align: middle;
	border-top: 5px solid #4aaaa5;
	z-index: 1000;
}
/*Footer end*/

/*Main section start*/
.mainSection {
	background-color: #fff;
	border: 1px solid #dddddd;
	box-sizing: border-box;
	margin: 0px 0px 100px 40px;
	padding: 20px 15px 20px 15px;
	width: 650px;
	float: left;
}
.mainSection h3 {
	margin-top: 10px;
}

.mainSection img{
	position: relative;
	width: 280px;
	z-index: 50;
}
.mainSection a{
	display: block;
	z-index: 100;
	box-sizing: border-box;
	padding: 15px 0px 15px 0px;
	height: 50px;
	width: 280px;
	background-color: #4aaaa5;
	text-align: center;
	text-decoration: none;
	color: #f5f4f0;
	font-weight: bold;
	font-size: 1.3em;
	position: relative;
	top: -80px;
	float: left;
}
.portfolioImages {
	padding: 0px 0px 20px 0px;
	z-index: 100;
} 
.portfolioImagesRight {
	float: right;
}
.portfolio-links-right {
	right: -58px;
}

/*Main section end*/

/*Profile Picture*/
#profilePic {
	position:static;
	width: 200px;
	height: 200px;
	margin: 0px 20px 10px 0px;
	display: inline-block;
	float: left;
}

/*980 Start*/
@media screen and (max-width: 980px) {
	/*Fix width of left box content*/
	.mainSection {
		width: 312px;
	}
	/*Fix button alignment on pictures in portfolio tab*/
	.mainSection a{
		right: 0px;
		top: -360.583px;
	}
	.portfolio-links-right {
		top: -130.583px !important;
}
	/*Fix length of input fields on contact page*/
	input, textarea {
		width: 270px;
	}
}
/*980 End*/
/*768 Start*/
@media screen and (max-width: 768px) {
	
}
/*768 End*/
/*640 Start*/
@media screen and (max-width: 640px) {
	
}
/*640 End*/